* {
    touch-action: manipulation;
    text-decoration: none;
    font-family: NHaasGrotesk,'Noto Sans TC', sans-serif;
    font-weight: 200;
    color: #0d0d0d;
    box-sizing: border-box;
    background-color: #fcfcfc;
}
@font-face{
    font-family: NHaasGrotesk;
    src: url(./Neue\ Haas\ Grotesk/font-family);
}
a:hover{
    transition: 0.6s;
    cursor: pointer;
    text-decoration: underline;
}
h1 h2 h3 h4 h5 h6:hover{
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
}
h1{
    font-size: 40px;
    padding-bottom: 16px;
    line-height: 60px;
    font-weight: 400;
}
h2{
    font-size: 28px;
    line-height: 49px;
    font-weight: 400;
}
h3{
    font-size: 22px;
    line-height: 38.5px;
    font-weight: 400;
}
h4{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2px;
    /* font-weight: 400; */
}
h5{
    font-size: 18px;
    line-height:30px;
    /* font-weight: 400;  */
}
h6{
    font-size: 16px;
    line-height: 28px;
}
span{
    font-size: 16px;
    line-height: 28px;
}
a.works_button{
    text-decoration: none;
}

/* back to top */
#gotop {
    position:fixed;
    z-index:90;
    right:10vw;
    bottom:120px;
    display:none;
    width:60px;
    height:60px;
    color:#0d0d0d;
    background:#ffffff;
    line-height:50px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.fa_top{
    left: 24%;
    top: 26%;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:768px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    span{
        font-size: 14px;
    }
}
@media screen and (max-width:768px){
    h1{
        font-size: 22px;
        padding-bottom: 4px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 15px;
    }
    h6{
        font-size: 14px;
    }
    span{
        font-size: 14px;
    }
}
@media screen and (max-width:425px){
    #gotop{
        bottom: 60px;
    }
}